form{
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.input{
    text-align: center;
    width: 150px;
    height: 25px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
input{
    padding: 15px;
    margin: 5px;
    width: 100px;
    height: 50px;
    text-align: center;
 
}
.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-basis: 450;
    gap: 10px;
    
}
.box{
    width: calc((100% - 20px) / 3);
    height: 50px;
    border-radius: 5px;
    line-height: 50px;

}